* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #dcdce6;
  font-family: sans-serif;
  font-size: 14px;
}

/* NavBar */
header {
  background-color: #333;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  overflow-y: hidden;
}

nav {
  height: 50px;
  font-size: 36px;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-left: 100px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a{
  font-size: 1rem;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  border-left: 1px solid #000;
}

nav ul li a:hover{  
  background-color: #000;
  opacity: 1;
}

/* Hero Section */
section {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

h2 {
  color: #337ab7;
  font-size: 2rem;
}

h3 {
  color: green;
  font-size: 1.5rem;
}

.img-container {
  text-align: center;
}

section ul {
  line-height: 1.5;
}

blockquote {
  font-size: 1.2rem;
}

.read-more {
  align-self: flex-start;
  font-size: 18px;
  color: rgb(148,0,211);
}

.read-more-link {
  color: #337ab7;
  text-decoration: none;
  font-style: italic;
}

.read-more-link:hover {
  text-decoration: underline;  
}
